.navbar-container {
  background: #0185f854;
  box-shadow: 0px 5px 7px 0px #0550925c;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;

  padding: 5px;
}

.navbar-title-ContectUs {
  flex: 2;
  color: #111;
}

.navbar-divider {
  height: 20px;
  width: 1px;
  background: rgba(128, 128, 128, 0.636);
}

.navbar-a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-img-container {
  display: flex;
  align-items: center;

  background: #0185f8a6;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.navbar-img-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
